bin
obj
packages
obj/Debug/netcoreapp2.0/Enbloc.pdb
bin/Debug/netcoreapp2.0/Enbloc.dll
bin/Debug/netcoreapp2.0/Enbloc.pdb
bin/Debug/netcoreapp2.0/common.dll
bin/Debug/netcoreapp2.0/common.pdb
obj/Debug/netcoreapp2.0/Enbloc.dll
